<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		
  	    <meta name="author" content="Julie Chen">
  		<meta name="description" content="Citrix Hachathon">
  		
  		 <title>Auto Time Log</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  		<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="css/login.css">
  		
    </head>
      
    <body>
   
    <div id="wrap" ng-app="autoTimeLoggingApp">
    
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
      
        <div style="border-radius: 8px; padding: 5px;  font-family: Times New Roman; font-size: 15px; text-align: center; background-color:white; width:149px; height:34px; display: block;"><strong>Time Budget App</strong></div>
   
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="">Home</a></li>
          <li><a href="">My Account</a></li>
          <li><a href="">Setting</a></li>
          <li><a href="">Help</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://jbossews-hybridteam.rhcloud.com/public/"><span class="glyphicon glyphicon-log-in"></span>Log Out</a></li>
      </ul>
    </div>
    </div>
    </nav>

    <div ng-view> </div>
    
    </div>
    
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Product</h4>
      </div>
      <div class="modal-body">
        <h3>Under Construction</h3>
      </div>
      <div class="modal-footer">
        <button ng-click="modalCancel()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button ng-click="modalSave()" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
    </div>
    </div>
    
    <div class="modal fade" id="basicEditModal" tabindex="-1" role="dialog" aria-labelledby="basicEditModal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Product</h4>
      </div>
      <div class="modal-body">
        <h3>Under Construction</h3>
      </div>
      <div class="modal-footer">
        <button ng-click="modalCancel()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button ng-click="modalSave()" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
    </div>
    </div>
    
     <div class="modal fade" id="basicDeleteModal" tabindex="-1" role="dialog" aria-labelledby="basicDeleteModal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">DeleteProduct</h4>
      </div>
      <div class="modal-body">
        <h3>Under Construction</h3>
      </div>
      <div class="modal-footer">
        <button ng-click="modalCancel()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button ng-click="modalSave()" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
    </div>
    </div>
    
     <div class="modal fade" id="basicRefreshModal" tabindex="-1" role="dialog" aria-labelledby="basicRefreshModal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Refresh Product</h4>
      </div>
      <div class="modal-body">
        <h3>Under Construction</h3>
      </div>
      <div class="modal-footer">
        <button ng-click="modalCancel()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button ng-click="modalSave()" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
    </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
   
    <script src="autoTimeLoggingApp.js"></script>
    <script src="Accounts/LoginController.js"></script>
    <script src="Citrix/HybridTeamController.js"></script>
    <script src="Accounts/LogoutController.js"></script>
    
    </body>
</html>